// TOP ----------------------
.top_container {
    flex: 1.6;
    position: relative;
    overflow: hidden;

    .below_title {
        display:flex;
        flex-direction: row;
        height:100%;

        @media screen and (max-width: 889px){
            flex-direction: column;
            align-items: center;
            text-align: center;           
        }

        .top_left{
            flex:1;
            padding-right:50px;
            // background-color: pink;

            .hide_about_container {
                opacity:0;
                height:0;
            }
        
            .show_about_container {
                padding:80px 0 0 60px;
                opacity:1;
                transition:opacity 3s;
        
                .hi {
                    font-family: $noto;
                    font-size: 60px;
                    font-weight: 900;

                    @media screen and (max-width: 1300px){
                        font-size:50px;
                    }

                    @media screen and (max-width: 851px){
                        font-size:40px;
                    }
                }
        
                .me_desc {
                    font-family: $hind;
                    font-size:22px;

                    @media screen and (max-width: 1300px){
                        font-size:18px;
                    }

                    @media screen and (max-width: 851px){
                        font-size:18px;
                    }
                } 
            }
        }
    
        .top_right{
            flex:1;
            position:relative;
            // background-color: lightskyblue;
        }
    }

    

    .myphoto {
        position: absolute;
        right:0;
        width:500px;
        object-fit:cover;
        height:100%;
        transform: rotate(-90deg);
        top:0;
        
    }
    
    .hide_big_work_img {
        width:700px;
        height:100%;
        position: absolute;
        right:-100%;    
        opacity:0;   
    }

    .show_big_work_img {
        width:100%;
        height:100%;
        position: absolute;
        right:20px;
        bottom:40px;
        object-fit: contain;
        object-position: center;
        opacity:1;
        transition:right 1s, opacity 2s;
    }

    .img_cut {
        -webkit-clip-path: polygon(43% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path:polygon(43% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .show_project_desc {
        padding:60px 0 0 60px;
        opacity: 1;
        transition:opacity 1.5s, width 0.1s;
        transition-delay: 0.5s;
        font-family: $hind;

        .p_name {
            font-family: $noto;
            font-size: 45px;
            font-weight: bold;
        }

        .date {
            padding-top:10px;
            font-size: 18px;
            letter-spacing:1px;
            font-family: $hind;
        }

        .position {
            font-family: $noto;
            font-size: 24px;
            padding:0px 0 10px 0;
        }

        .tools, .p_desc, .role {
            font-size: 18px;
            padding-bottom:5px;
            span {
                font-weight: bold;
            }
        }

    }

    .hide_project_desc {
        height:0;
        opacity:0;
        width:0px;
    }

}


//BOTTOM --------------
.bottom_container {
    flex:1;
    background-color:#FBFBFB;
    padding:20px 50px 50px 50px;
    flex-direction: column;
    display:flex;
    

    @media screen and (max-width: 1350px){
        flex:0.8;
    }

    @media screen and (max-width: 1100px){
        flex:0.6;
    }

    .tabs {
        margin-bottom:20px;
        display:flex;

        @media screen and (max-width: 1008px){
            margin-bottom:20px;
        }

        b {
            font-size: 25px;
        }

        span {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .small_works_container {
        flex:7;
        flex-direction:row;
        display:flex;
        justify-content: space-between;
        padding:0 30px 0 30px;

        @media screen and (max-width: 1546px){
            padding:0;
        }

        @media screen and (max-width: 889px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}