.bottom_container {
    flex:1;
    background-color:#FBFBFB;
    padding:20px 50px 50px 50px;
    flex-direction: column;
    display:flex;

    @media screen and (max-width: 629px){
        padding:20px 20px 20px 20px;   
    }

    .tabs {
        flex:1;
        margin-bottom:5px;
        display:flex;
        justify-content: space-between;

        b {
            font-size: 25px;
        }

        span {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .small_works_container {
        flex:7;
        flex-direction:row;
        display:flex;
        justify-content: space-between;
        padding:0 60px 0 60px;

        @media screen and (max-width: 1546px){
            padding:0;
        }
    }

}