$breakpoint1 : 1373px;

@import './fonts.scss';
@import './comps/Title/Title.scss';
@import './comps/Work/Work.scss';
@import './pages/HomeStyles.scss';

.App {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    overflow: hidden;
}